/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "camera_y": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        "camera_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {

    },
)

